export API_KEY_ALCHEMY="YOUR_API_KEY_ALCHEMY"
export API_KEY_ARBISCAN="YOUR_API_KEY_ARBISCAN"
export API_KEY_BSCSCAN="YOUR_API_KEY_BSCSCAN"
export API_KEY_ETHERSCAN="YOUR_API_KEY_ETHERSCAN"
export API_KEY_GNOSISSCAN="YOUR_API_KEY_GNOSISSCAN"
export API_KEY_INFURA="YOUR_API_KEY_INFURA"
export API_KEY_OPTIMISTIC_ETHERSCAN="YOUR_API_KEY_OPTIMISTIC_ETHERSCAN"
export API_KEY_POLYGONSCAN="YOUR_API_KEY_POLYGONSCAN"
export API_KEY_SNOWTRACE="YOUR_API_KEY_SNOWTRACE"
export MNEMONIC="YOUR_MNEMONIC"
export FOUNDRY_PROFILE="default"

export NETWORK="NETWORK NAME WHERE THE SCRIPT IS RUNNNIG"
export ETHERSCAN_API_KEY="YOUR ETHERSCAN API KEY ON NETWORK_NAME"
export MAILBOX="HYPERLANE MAILBOX ADDRESS ON NETWORK_NAME"
export PERMIT2="PERMIT2 ADDRESS ON NETWORK_NAME"

export DEPLOYER_PK="YOU DEPLOYER PRIVATE KEY"
export HYPERLANE7683_SALT="A ONTE TIME USE SALT FOR DEPLOYING THE ROUTER"

export PROXY_ADMIN_OWNER="ADDRESS OF THE OWNER OF THE PROXY ADMIN"
export ROUTER_OWNER="ADDRESS OF THE OWNER OF THE ROUTER"

# enrollRemoteRouters and setDestinationGas
export DOMAINS="COMA SEPARATED LIST OF DOMAINS TO ENROLL"

### Open
export ROUTER_ADDRESS = "ROUTER ADDRESS"
export ORDER_SENDER = "ORDER SENDER ADDRESS"
export ORDER_RECIPIENT = "ORDER RECIPENT ADDRESS"
export ITT_INPUT = "TOKEN INPUT ADDRESS"
export ITT_OUTPUT = "TOKEN OUTPUT ADDRESS"
export AMOUNT_IN = "AMOUNT IN"
export AMOUNT_OUT = "AMOUNT OUT"
export DESTINATION_DOMAIN = "DESTINATION DOMAIN ID"
